| @charset 'UTF-8';
| 
/* @FONT-FACE loads font into browser */
| @font-face {
|   font-family: '#{font.fontname}';
|   font-weight: normal;
|   font-style: normal;
|   src: url('#{font.fontname}.eot');
|   src: url('#{font.fontname}.eot?#iefix') format('embedded-opentype'),
|        url('#{font.fontname}.woff') format('woff'),
|        url('#{font.fontname}.ttf') format('truetype'),
|        url('#{font.fontname}.svg##{font.fontname}') format('svg');
| }
| 
/* :before psuedo-selector inserts and styles icon */
| .#{meta.css_prefix}:before {
|   font-family: '#{font.fontname}';
|   font-style: normal;
|   font-weight: normal;
|   speak: none;
|   display: inline-block;
|   text-decoration: inherit;
|   width: 1em;
|   height: 1em;
|   font-size: 1em;
|   text-align: center;
|   -webkit-font-smoothing: antialiased;
|   font-smoothing: antialiased;
|   text-rendering: optimizeLegibility;
| }
| 
/* Code for individual icons */
for g, i in glyphs
  - var css = meta.css_prefix + '-' + g.css;
  - var hex = g.code.replace('0x','\\');
  - var chr = unichr(g.code);
  | 
  | .#{css}:before { 
  |   content: '#{hex}'; /* '#{chr}' */
  | }

